apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: monitoring
spec:
  type: LoadBalancer
  loadBalancerIP: 192.168.2.201
  ports:
    - port: 80
      targetPort: 3000
  selector:
    app: grafana
