alertmanager:
  enabled: false

pushgateway:
  enabled: false

server:
  retention: 7d
  service:
    type: ClusterIP
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

kubeStateMetrics:
  enabled: true

nodeExporter:
  enabled: true