apiVersion: v1
kind: Service
metadata:
  name: openwebui
  namespace: openwebui
spec:
  type: LoadBalancer
  loadBalancerIP: 192.168.2.202
  selector:
    app: openwebui
  ports:
    - name: http
      port: 80
      targetPort: 8080
